<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SvnUrl" value="https://DESKTOP-TR8E3OJ/svn/test_repo/" />
		<add key="SvnUser" value="aleksey" />
		<add key="SvnPassword" value="82348234" />
		<add key="RootPath" value="C:\Users\belya\Repo" />
	</appSettings>
</configuration>